
<a href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=b58a4315-ca5c-49c1-bdf2-89a23d087292&response_type=code&redirect_uri=https://localhost:44314/Calendar/MicrosoftAuthTokenCallback&response_mode=query&scope=openid%20offline_access%20https%3A%2F%2Fgraph.microsoft.com%2Fcalendars.read&state=12345">Connect Microsoft Calendar</a>
